/* FONTS */
.font__fam{
   font-family: 'Poppins',sans-serif !important;
   font-size: 14px !important;
}

.side__bar{
    /* height: 100vh !important; */
height: 100vh ;
position: sticky;
top: 0px;
background: #AED9AF;
padding: 0px !important;
}

/* input and buttons */
input:focus{ 
    outline:0px !important; 
    box-shadow: none !important;
}

.no__outline:focus{
   outline:0px !important; 
    box-shadow: none !important;
}

.addItem__btn{
   background-color: #AA96DA !important;
   border-color: #AA96DA !important;

   width: 100px;
   border-radius: 4px !important;
}

.cancel__btn{
   background-color: white !important;
   border-color: white !important;

   color: black  !important;
}

.cancel__btn:hover{
   text-decoration: underline !important;
}


/* color theme classes */
.eGreen{
   background: #5EBC62 !important;
   color: white !important;
   font-size: 14px !important;

}

.eDarkGreen{
   background: #278A2B !important;
   color: white !important;
   font-size: 14px !important;

}
.ePurple{
   background: #AA96DA !important;
   color: white !important;
   font-size: 14px !important;

}
.eYellow{
   background: #FFD74A !important;
   color: white !important;
   font-size: 14px !important;

}
.eBlue{
   background: #259EE2 !important;
   color: white !important;
   font-size: 14px !important;

}
.eViolet{
   background: #6F6EAD !important;
   color: white !important;
   font-size: 14px !important;

}
.eRed{
   background: #F11F1F !important;
   color: white !important;
   font-size: 14px !important;

}
.ePink{
   background: #F0A1A1 !important;
   color: white !important;
   font-size: 14px !important;

}
.eOrange{
   background: #F99500 !important;
   color: white !important;
   font-size: 14px !important;

}
.eDarkBlue{
   background: #0F5F8C !important;
   color: white !important;
   font-size: 14px !important;

}

.item-event{
   background: #259EE2 !important;
   color: white !important;
   font-size: 14px !important;

   /* background-image: url('../assets/task.png') !important;
   background-repeat: no-repeat !important;
   background-size: 20px 20px !important; */
   /* background-origin: padding-box !important; */
   /* text-align: center; */
}

.item-event-bg{
   background-image: url('../assets/task.png') !important;
   background-repeat: no-repeat !important;
   background-size: 18px 18px !important;   
	padding-left: 22px !important;
   background-position-y: center !important;
}

#startDate-datepicker__value_{
   font-family: 'Poppins',sans-serif !important;
   font-size: 14px !important;
}

#endDate-datepicker__value_{
   font-family: 'Poppins',sans-serif !important;
   font-size: 14px !important;
}

#daily_until-datepicker__value_{
   font-family: 'Poppins',sans-serif !important;
   font-size: 14px !important;
}

