/* FONTS */
.font__fam{
   font-family: 'Poppins',sans-serif !important;
   font-size: 14px !important;
}

.heading_font{
   font-family: 'Poppins',sans-serif !important;
   font-size: 18px !important;
   font-weight: 500;
}

.logo__font{
   font-family: 'Croissant One', cursive;
   font-size: 36px !important;

   color: #1D6420 !important; 
   padding-left: 20px !important;
   letter-spacing: -0.08em;

}

.side__bar{
    /* height: 100vh !important; */
height: 100vh ;
position: sticky;
top: 0px;
background: #AED9AF;
padding: 0px !important;
}

/* input and buttons */
input:focus{ 
    outline:0px !important; 
    box-shadow: none !important;
}

.no__outline:focus{
   outline:0px !important; 
    box-shadow: none !important;
}

.addItem__btn{
   background-color: #AA96DA !important;
   border-color: #AA96DA !important;

   width: 100px;
   border-radius: 4px !important;
}

.cancel__btn{
   background-color: white !important;
   border-color: white !important;

   color: black  !important;
}

.cancel__btn:hover{
   text-decoration: underline !important;
}


/* color theme classes */
.eGreen{
   background: #5EBC62 !important;
   font-size: 14px !important;
   border-color: #5EBC62 !important;

}

.eDarkGreen{
   background: #278A2B !important;
   font-size: 14px !important;
   border-color: #278A2B !important;

}
.ePurple{
   background: #AA96DA !important;
   font-size: 14px !important;
   border-color: #AA96DA !important;
   /* border-left: 2px solid !important; */

   /* border-left: 2px !important; */

   /* border-left-color: #AA96DA !important; */

}
.eYellow{
   background: #FFD74A !important;
   font-size: 14px !important;
   border-color: #FFD74A !important;

}
.eBlue{
   background: #259EE2 !important;
   font-size: 14px !important;
   border-color: #259EE2 !important;

}
.eViolet{
   background: #6F6EAD !important;
   font-size: 14px !important;
   border-color: #6F6EAD !important;

}
.eRed{
   background: #F11F1F !important;
   font-size: 14px !important;
   border-color: #F11F1F !important;

}
.ePink{
   background: #F0A1A1 !important;
   font-size: 14px !important;
   border-color: #F0A1A1 !important;

}
.eOrange{
   background: #F99500 !important;
   font-size: 14px !important;
   border-color: #F99500 !important;

}
.eDarkBlue{
   background: #0F5F8C !important;
   font-size: 14px !important;
   border-color: #0F5F8C !important;


}

.item-event{
   background: #259EE2 !important;
   font-size: 14px !important;
   border-color: #259EE2 !important;

   /* background-image: url('../assets/task.png') !important;
   background-repeat: no-repeat !important;
   background-size: 20px 20px !important; */
   /* background-origin: padding-box !important; */
   /* text-align: center; */
}

.item-event-bg{
   background-image: url('../assets/task.png') !important;
   background-repeat: no-repeat !important;
   background-size: 18px 18px !important;   
	padding-left: 22px !important;
   background-position-y: center !important;
}

#startDate-datepicker__value_{
   font-family: 'Poppins',sans-serif !important;
   font-size: 14px !important;
}

#endDate-datepicker__value_{
   font-family: 'Poppins',sans-serif !important;
   font-size: 14px !important;
}

#daily_until-datepicker__value_{
   font-family: 'Poppins',sans-serif !important;
   font-size: 14px !important;
}


.home__link{
   font-family: 'Poppins', sans-serif;
   font-size: 16px !important;
   color: #1D6420 !important;

   font-weight: 400 !important;
}

.home__link{
   text-decoration: none !important;
}

.onHover_links{
   padding: 8px 8px 8px 20px !important;
   /* margin-top: 0px !important; */
}

.onHover_links:hover{
   background-color: #B6E9B3;
}

.icon-links{
   font-size:20px !important;
   color: #1D6420 !important;
   margin-right:10px;
}

/* .links:hover{
   background: #beffc1;
} */

.quotes{
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   /* font-family: 500; */
   /* letter-spacing: -0.08em; */
   font-style: italic;
}

.quotes-author{
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   /* line-height: 1%; */
   line-height: 51px;

   /* font-family: 500;
   letter-spacing: -0.08em; */
   /* font-style: italic; */
}

.hide_sideBar{
   display: none;
}

.display_sideBar{
   display: block;
   visibility: visible;
}



